body {
    background-color: #F2F2F2;
}

/*                       Source Class                 */
.heading1 {
    /*position: absolute;*/
    /*width: 207px;
    height: 48px;*/

    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 600;
    font-size: 46px;
    line-height: 48px;
}

.heading2 {
    /*position: absolute;*/
    /*width: 135px;
    height: 31px;*/

    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 31px;
}

.body-text {
    /*position: absolute;*/
    /*width: 58px;*/
    height: 27px;
    font-family: 'Jaldi';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
}

.body-text-small {
    /*position: absolute;*/
    /*width: 83px;*/
    height: 24px;
    font-family: 'Jaldi';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}


/* DARK MODE */
.text-light-white {
    color: #FFFFFF;
}

.text-white {
    color: #F2F2F2;
}

/* LIGHT MODE */
.text-dark-gray {
    color: #858585;
}

.text-light-black {
    color: #606060;
}

.text-medium-black {
    color: #454545;
}

.text-black {
    color: #2E2E2E;
}

/*                          Navbar Top                           */
.navbar-top {
    position: fixed;
    width: 100%;
    height: 70px;
    left: 0px;
    top: 0px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    /*background: #F2F2F2;*/
    z-index: 999999;
}
    .navbar-top div {
        width: 33%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    /* Style for switching mode */
    .navbar-top .switch-toggle {
        /*display: flex;
        flex-direction: column;
        justify-content: center;*/
    }

        .navbar-top .switch-toggle label {
            width: 90px;
            height: 40px;
            position: relative;
            display: block;
            background: #ebebeb;
            border-radius: 200px;
            box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
            cursor: pointer;
        }

            .navbar-top .switch-toggle label:after {
                content: "";
                width: 35px;
                height: 35px;
                position: absolute;
                top: 3px;
                left: 3px;
                background: linear-gradient(180deg,#ffcc89,#d8860b);
                border-radius: 180px;
                box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
            }

        /*.navbar-top .switch-toggle .input {
            width: 0;
            height: 0;
            visibility: hidden;
        }*/

            /*.navbar-top .switch-toggle .input:checked + label {
                background: #242424;
            }*/

                /*.navbar-top .switch-toggle .input:checked + label:after {
                    left: 87px;
                    transform: translateX(-100%);
                    background: linear-gradient(180deg,#777,#3a3a3a);
                }*/

        .navbar-top .switch-toggle label, .navbar-top .switch-toggle label:after {
            transition: 0.3s
        }

            /* Icon Style */
            .navbar-top .switch-toggle label svg {
                position: absolute;
                width: 28px;
                height: 28px;
                top: 7px;
                z-index: 100;
            }

                .navbar-top .switch-toggle label svg.sun2 {
                    left: 6px;
                    fill: #fff;
                    transition: 0.3s;
                }

*.navbar-top .switch-toggle label svg.moon2 {
    left: 56px;
    fill: #7e7e7e;
    transition: 0.3s;
}

/*.navbar-top .switch-toggle .input:checked + label svg.sun2 {
    fill: #7e7e7e;
}

.navbar-top .switch-toggle .input:checked + label svg.moon2 {
    fill: #fff;
}*/

/* END style */
/* Credit: https://redstapler.co/pure-css-minimal-dark-mode-toggle-button/ */

/*                          Navbar Side                          */
.navbar-side {
    box-sizing: border-box;
    position: fixed;
    width: 27%;
    height: 800px;
    right: 0px;
    top: 0px;
    border-left: 1px solid #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

    .navbar-side ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        height: 40vh;
        width: 70%;
        padding-top: 30vh;
        /* Content Alignment */
        display: flex;
        justify-content: center;
        flex-direction: column;
        justify-content: space-between;
        align-items: end;
    }

    .navbar-side li {
        padding: 10px;
    }

    .navbar-side a {
        text-decoration: none;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }


/*                          Body                           */
.content-body {
    margin-top: 70px;
    width: 73%;
}

/*                        Footer                            */
.footer {
    /*position: absolute;*/
    height: 70vh;
    width: 73%;
    /*left: 0px;
    right: 398px;
    top: 3071px;*/
    margin-top: 10vh;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.footer-header {
    /*position: absolute;*/
    width: 100%;
    height: 90px;
    left: 0px;
    top: 0px;
    padding-bottom: 20px;
    /* Alignment Items */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer .content {
    padding: 10px 10% 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .footer .content .username {
        /* Username Section */
        display: flex;
        width: 30%;
        flex-direction: row-reverse;
    }

    .footer .content .logo {
        /* Image Section */
        width: 20%;
        display: flex;
        justify-content: center;
    }

    .footer .content .description {
        /* Description Section */
        width: 30%;
        height: auto;
    }

    .footer .content .logo img {
        /* Image Size */
        width: 40px;
        height: 40px;
    }

.footer .creator {
    padding: 10px 10% 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0 0 10%;
    width: 60%;
    /* Border */
    border-top: 1px solid black;
}

/* border button Desktop Mobile Web */
.container-items .container-button button {
    border-color: black;
}
