<style>

    /* Container Content Base */
    .container-content-edu {
        height: 70px;
        transition: height .3s ease-out 100ms;
    }

        .container-content-edu.active {
            height: 200px;
        }

    /* Content Activity */
    .container-activity-edu {
        height: 70px;
        transition: height .3s ease-out 100ms;
    }

        .container-activity-edu.active {
            height: 200px;
        }

        /* Content Header */
        .container-activity-edu .container-header {
            height: 70px;
            transition: height .3s ease-out 100ms;
        }

        .container-activity-edu.active .container-header {
            height: 102px;
        }

        /* Content Parent */
        .container-activity-edu .container-parent-edu {
            overflow: hidden;
        }

    .container-parent-edu.active .container-parent-edu {
        overflow: auto;
    }

    /* Content Body */
    .container-activity-edu .container-body-edu {
        height: 0px;
    }

    .container-activity-edu.active .container-body-edu {
        height: 98px;
    }

    /* Button */
    .button-content {
        background-color: yellowgreen;
        color: white;
        height: 100%;
        transition: background-color .3s ease-out 100ms;
    }

        .button-content:hover {
            background-color: limegreen;
        }

        .button-content.active {
            background-color: red;
        }
</style>


@* Content *@
<MudPaper Elevation="4" Class=@ContainerContentEdu>
    <MudContainer Class=@ClassContainerActivityEdu>

        @* Container Content *@
        <MudContainer Class="pa-0 container-parent-edu" Style="height:100%">
            @* Header *@
            <MudContainer Class="d-flex align-center flex-grow-1 pa-4 container-header">
                <MudImage ObjectFit="ObjectFit.Contain" Src=@ContentImageSrc Alt="Logo" Elevation="0" Style="height:100%;" />
                <MudPaper Height="100%" Width="100%" Elevation="0" Class="d-flex flex-column justify-center flex-grow-1 pa-6">
                    <div class="text-black heading2" style="height: 30px; font-size:20px">
                        @ContentTitle
                    </div>
                </MudPaper>
            </MudContainer>

            @* Body *@
            <MudContainer Class="container-body-edu">
                <div class="text-dark-gray body-text-small" style="height: auto;">
                    @ContentPeriod
                </div>
                <div class="text-black body-text" style="height: auto;">
                    @ContentDesc
                </div>
            </MudContainer>
        </MudContainer>

        @* Container Button *@
        <MudContainer Class="pa-0" Style="height:100%; width:70px">
            @* Button *@
            <MudPaper Elevation="0" Height="100%">
                <MudButton Variant="Variant.Filled" Class=@ClassButton OnClick="ShowMore">
                    <MudIcon Icon=@IconButton Title="Recent" Size="Size.Large" />
                </MudButton>
            </MudPaper>
        </MudContainer>

    </MudContainer>
</MudPaper>


@code {
    // Param
    [Parameter]
    public string ContentImageSrc { get; set; }

    [Parameter]
    public string ContentTitle { get; set; }

    [Parameter]
    public string ContentPeriod { get; set; }

    [Parameter]
    public string ContentDesc { get; set; }



    // Show More Activity
    private string ContainerContentEdu = "mb-8 mx-8 container-content-edu";
    private string ClassContainerActivityEdu = "d-flex flex-row pa-0 container-activity-edu";
    private string IconButton = @Icons.Material.Filled.UnfoldMore;
    private string ClassButton = "button-content";

    public bool _isMore = false;

    public void ShowMore()
    {
        if (!_isMore)
        {
            _isMore = !_isMore;

            // Container Content
            ContainerContentEdu = "mb-8 mx-8 container-content-edu active";

            // For Content Activity height
            ClassContainerActivityEdu = "d-flex flex-row pa-0 container-activity-edu active";

            // For Button Style
            IconButton = @Icons.Material.Filled.UnfoldLess;
            ClassButton = "button-content active";
        }
        else
        {
            _isMore = !_isMore;

            // Container Content
            ContainerContentEdu = "mb-8 mx-8 container-content-edu";

            // For Content Height
            ClassContainerActivityEdu = "d-flex flex-row pa-0 container-activity-edu";

            // For Button Style
            IconButton = @Icons.Material.Filled.UnfoldMore;
            ClassButton = "button-content";
        }
    }
}
